CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

*/out
*/.vs

#ignore everything except c files, h files, cpp files

# in the top level
*.txt
*.json

# in the .vs
*.db
*.sqlite
*.vsidx
*.ipch

# in the out
*.exe
*.ninja_deps
*.ninja_log
*.ilk
*.pdb
*.cmake
*.check_cache
*.yaml
*.ninja
*.bin
*.obj
*.manifest
*.rc
*.res
*.idb
*.pdb
*.log